.barchart_container {
  max-width: 70%;
  max-height: 12rem;
  margin-top: 2rem;
  margin-left: 3rem;
  background-color: #EDE8E8;
  border-radius: 5px;
}

.barchart_tooltip {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  color: white;
}