.dashboard_wrapper {
  position: absolute;
  width: 88%;
  left: 7.3125rem;
  right: 25%;
  height: 91vh;
}
.dashboard_wrapper .dashboard_header {
  width: 50%;
}
.dashboard_wrapper .dashboard_header .hello {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}
.dashboard_wrapper .dashboard_header .name {
  color: red;
}

.congrats {
  margin-left: 2rem;
}

.radar {
  max-width: 10rem;
  height: 20rem;
  max-width: 70%;
}

.square_charts {
  max-width: 70%;
  margin-left: 3rem;
  margin-top: 2rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.square_charts .linechart_wrapper, .square_charts .radar_wrapper, .square_charts .piechart_wrapper {
  width: 32%;
}