header {
  border: 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #020203;
  z-index: 1000;
}
header .header_logo {
  /* border: 3px solid blue ; */
  width: 11.125rem;
  height: 3.8081rem;
}
header .header_nav {
  /*   border: 3px solid red; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 0;
  margin-left: auto;
}
header .header_nav .header_link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: larger;
}